{:consumer-key nil
 :consumer-secret nil
 :token nil
 :token-secret nil
 :db-url "jdbc:h2:./db/local"
 :follow-limit 10
 :follow-duration-days 14
 :archive-size 1000

 :nomad/environments
 {"heroku"
  {:db-url #nomad/env-var "DATABASE_URL"
   :consumer-key #nomad/env-var "FOLLOWR_CONSUMER_KEY"
   :consumer-secret #nomad/env-var "FOLLOWR_CONSUMER_SECRET"
   :token #nomad/env-var "FOLLOWR_TOKEN"
   :token-secret #nomad/env-var "FOLLOWR_SECRET"
   :follow-limit #nomad/env-var "FOLLOWR_FOLLOW_LIMIT"
   :follow-duration-days #nomad/env-var "FOLLOWR_FOLLOW_DURATION_DAYS"}}

 :nomad/private-file #nomad/file "./resources/private-config.edn"}
